Repository codemeistre/shared: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

ci(gh): add workflow to publish to NPM registry
  .github/workflows/publish.yml
  .lintstagedrc
Due: prettier --write

docs: add NPM and GitHub badges
  README.md
  packages/eslint-config-ts-react-app/README.md
  packages/stream-add-lf/README.md
Due: prettier --write

chore(deps): upgrade dev. dependencies
  package.json
  packages/stream-add-lf/yarn.lock
  yarn.lock
Due: prettier --write

chore(release): stream-add-lf@v2.0.0
  packages/stream-add-lf/README.md
  packages/stream-add-lf/package.json
Due: prettier --write

ci(publish): fix 'Not Found PUT - ...' error
  .github/workflows/publish.yml
Due: prettier --write

chore(release): eslint-config-ts-react-app@v2.0.0
  packages/eslint-config-ts-react-app/README.md
  packages/eslint-config-ts-react-app/package.json
Due: prettier --write

build: add script file to commit package release
  commit-bump-package
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade root dev. dependencies to their latest version
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade eslint and prettier related deps.
  package.json
  packages/eslint-config-ts-react-app/package.json
  yarn.lock
Due: prettier --write

script: add flag on `commit-bump-package` to ignore husky
  commit-bump-package
Due: none

chore(deps): upgrade typescript to v4 from v3
  packages/eslint-config-ts-react-app/package.json
  yarn.lock
Due: prettier --write

chore(release): eslint-config-ts-react-app@v2.0.1
  packages/eslint-config-ts-react-app/package.json
Due: prettier --write

docs: add links and statuses badges to the packages
  README.md
Due: prettier --write

ci(publish): listen to only to branch 'master'
  .github/workflows/publish.yml
Due: prettier --write

chore(deps): upgrade few root dev. dependencies
  .github/workflows/publish.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

chore(deps): bump `simple-git` to 2.38.0 from 2.34.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade `@commitlint/*` to v12 and `husky` to v6
  package.json
  yarn.lock
Due: prettier --write

chore(gh actions): add workflow to ignore issues and pull requests
  .github/workflows/auto_close_issues_and_pull_requests.yml
Due: prettier --write

chore: don't run the pre-commit-msg hook when the msg was given already
  .husky/prepare-commit-msg
Due: none

chore(gh actions): fix workflow that closes issues/PRs from non-members
  .github/workflows/auto_close_issues_and_pull_requests.yml
Due: prettier --write

chore(deps): patch upgrade `commitizen@4.2`
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump upgrade all meta deps to their latest
  commit-bump-package
  package.json
  yarn.lock
Due: prettier --write

chore: fix eslint config file
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

chore(deps): bump major upgrade of `split2`
  packages/stream-add-lf/package.json
  yarn.lock
Due: prettier --write

chore(release): stream-add-lf@v2.1.0
  packages/stream-add-lf/package.json
Due: prettier --write

chore(meta): minor improvements to the bumpper script
  commit-bump-package
Due: none

chore(github): reusing "auto_close_issues_and_pull_requests" workflow
  .github/workflows/auto_close_issues_and_pull_requests.yml
Due: prettier --write

chore: add local npmrc file
  .npmrc
Due: none

chore(release): noop@v0.0.1
  packages/noop/README.md
  packages/noop/package.json
Due: prettier --write

feat(noop): add empty entry file
  packages/noop/README.md
  packages/noop/index.js
  packages/noop/package.json
Due: prettier --write, eslint --cache --fix

chore(release): noop@v0.0.2
  packages/noop/package.json
Due: prettier --write

docs(noop): add bundle size badge
  packages/noop/README.md
Due: prettier --write

chore(release): noop@v1.0.0
  packages/noop/package.json
Due: prettier --write

chore(deps): bump upgrade all monorepo dev dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(npm): add `format` script
  package.json
Due: prettier --write

chore: drop all useless monorepo dependencies
  .husky/commit-msg
  .husky/prepare-commit-msg
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --write

chore!: remove `eslint-config-ts-react-app` package
  README.md
  packages/eslint-config-ts-react-app/README.md
  packages/eslint-config-ts-react-app/index.js
  packages/eslint-config-ts-react-app/package.json
Due: prettier --write, eslint --cache --fix

a
  .lintstagedrc
Due: none

feat: add new package `type-guards`
  .prettierignore
  README.md
  packages/type-guards/.gitignore
  packages/type-guards/package.json
  packages/type-guards/src/index.ts
  packages/type-guards/tests/index.ts
  packages/type-guards/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: fix npm metadata
  packages/noop/package.json
  packages/stream-add-lf/package.json
  packages/type-guards/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,js,tsx,jsx,json,yml,md,css,html}) or (any of: *.{ts,js,tsx,jsx})
  eslint --cache --fix: any of: *.{ts,js,tsx,jsx}
